<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Azure Pipeline Agents</h1>
    <p>A brief example</p>
    <p>another line</p>
  </body>
</html>
